name: Deploy Frontend

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Setup environment variables
        run: |
          echo "VITE_APP_API_BASE_URL=${{ secrets.VITE_APP_API_BASE_URL }}" >> .env.production
          echo "VITE_APP_STRIPE_PUBLIC_KEY=${{ secrets.VITE_APP_STRIPE_PUBLIC_KEY }}" >> .env.production

      - name: Build Vite app
        run: yarn build

      - name: Deploy to S3
        uses: aws-actions/s3-sync@v2
        with:
          bucket: dinesh-frontend-bucket
          region: ${{ secrets.AWS_REGION }}
          delete: true
          source: dist
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
